.line-through {
  text-decoration: line-through;
}

[type='checkbox'] + span:not(.lever) {
  line-height: 22px;
  height: 0px;
}

.editable-s {
  outline: none;
}

.editable-s:focus {
  outline-style: initial;
  outline-color: #1de9b6;
  transition: 0.2s all ease;
  cursor: text;
  color:rgba(0,0,0,0.87);

}

.typing-color:focus {
   color:rgba(0,0,0,0.87);
}

.err-color:focus {
  color: firebrick;
}

.done-color {
  color: rgb(34, 178, 70);
  display: inline-block;
  margin: 6px 0 0 6px;
  position: fixed;
}

.error-color {
  color: firebrick;
  display: inline-block;
  margin: 6px 0 0 6px;
  position: fixed;
}

.scale {
  font-weight: lighter;
  font-size: 1.4rem;
  display: inline-block;
  margin: 0 9px;
  color: darkslategray;
}

.number {
  color: #d32f2f;
  font-weight: 600;
  font-size: 12px;
}

.link-hover:hover {
  font-size: 1.8rem;
}

.no-data {
  color: #9e9e9e;
}
/* 
.editor {
  border: solid 1px gray;
  width: 300px;
  height: 100px;
  padding: 6px;
  overflow: scroll;
} */

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  /* position: absolute; */
  color: gray;
  background-color: transparent;
}

[v-cloak] {
  display: none;
}
